<div class="list">
  Add User
	<form data-abide>
	  <div class="row">
          <div class="small-12 columns">
            <label>Name<small style="color: red">*</small>
            <input ng-model="username" type="text" required pattern="[a-zA-Z]+" placeholder="username">
            <label>Email<small style="color: red">*</small>
            <input ng-model="email" type="email" required placeholder="email">
          </div>
      </div>

    <div class="text-center">
      <button ng-click="addUser()" type="submit" class="button tiny info">Add User</button>
    </div>
  </form>

    {{displayText}}

</div>
