<div class="row">
 	<div class="button-group small-8 small-centered columns">
		<h1>Details for {{user.name}}</h1>
		<h3>email: {{user.email}} <h3>

		<h4> Pending Tasks </h4>
		<div class="list">
			<div ng-repeat="task in data.data">
				<div class="row callout primary" ng-if="!task.completed">
					<a class="small-9 columns" href="./#/taskdetails/{{task._id}}">
						<h3>{{task.name}}</h3>
						<h6>Deadline: {{task.deadline}}</h6>
					</a>
					<a class="button small-3 columns" ng-click=completeTask(task)>Completed</a>
				</div>
			</div>
		</div>

		<a class="button" ng-show="!showCompleted" ng-click="toggleCompleted()">Show Completed</a>
		<a class="button" ng-show="showCompleted" ng-click="toggleCompleted()">Hide Completed</a>

		<div class="list" ng-show="showCompleted">
			<h4> Completed Tasks </h4>
			<div class="list">
				<div ng-repeat="task in data.data">
					<div class="row callout primary" ng-if="task.completed">
						<a class="small-9 columns" href="./#/taskdetails/{{task._id}}">
							<h3>{{task.name}}</h3>
							<h6>Deadline: {{task.deadline}}</h6>
						</a>
						<a class="button small-3 columns" ng-click=completeTask(task)>Completed</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>