<a </a>


<div class="row">
	<a class="button small-4 small-push-4 columns" href="./#/adduser">Add User</a>
	<div class="button-group small-8 small-centered columns">
		<div class="row callout primary" ng-repeat="user in users.data">
			<a class="small-9 columns" href="./#/userdetails/{{user._id}}">
				<h3>{{user.name}}</h3>
				<h6>{{user.email}}</h6>
			</a>
			<a class="small-3 columns callout alert" ng-click="deleteUser(user._id)">
				<h6 class="small-centered">Delete</h6>
			</a>
		</div>
	</div>
</div>
