Details for {{user.name}}  
email: {{user.email}}  

Pending Tasks
<div class="list">
	<ul>
		<div ng-repeat="task in data.data">
			<li ng-if="!task.completed">
				<a href="./#/taskdetails/{{task._id}}">
					<h3>{{task.name}}</h3>
				</a>
				<h6>{{task.deadline}}</h6>
				<a ng-click=completeTask(task)>Completed</a>
			</li>
		</div>
	</ul>
</div>

<button ng-show="!showCompleted" ng-click="toggleCompleted()">Show Completed</button>
<button ng-show="showCompleted" ng-click="toggleCompleted()">Hide Completed</button>


<div class="list" ng-show="showCompleted">
Completed Tasks
	<ul>
		<div ng-repeat="task in data.data">
			<li ng-if="task.completed">
				<a href="./#/taskdetails/{{task._id}}">
					<h3>{{task.name}}</h3>
				</a>
				<h6>{{task.deadline}}</h6>
				<!--<a ng-click=completeTask(task._id)>Completed</a>-->
			</li>
		</div>
	</ul>
</div>